<div class="h-100">
  <div class="d-flex h-100 w-100" *ngIf="querying">
    <div class="d-inline-block align-self-center mx-auto text-center">
      <mat-spinner>
      </mat-spinner>
    </div>
  </div>
  <mat-card class="my-3" *ngIf="!querying">
    <mat-card-title>{{meeting.title}}
      <app-meeting-status [status]="meeting.status"></app-meeting-status>
    </mat-card-title>
    <mat-card-subtitle>
      <div class="d-flex justify-content-between">
        <div class="d-inline-flex align-items-center">
          <mat-icon>flag</mat-icon>
          Host by <span class="ml-1">{{meeting.owner.username}}</span>
        </div>
        <div class="d-inline-flex align-items-center">
          <mat-icon> priority_high</mat-icon>
          <span>Priority: {{priorityDisplay[meeting.priority]}}</span>
        </div>
      </div>
    </mat-card-subtitle>
    <mat-card-content>
      <div class="mt-2 mb-3">
        <div class="d-flex py-1">
          <div class="d-flex align-items-center pr-2">
            <mat-icon> location_on</mat-icon>
            <span>Location: {{meeting.location}}</span>
          </div>
        </div>
        <div class="d-flex py-1">
          <div *ngIf="meeting.plannedStartTime != null" class="d-flex align-items-center pr-2">
            <mat-icon>date_range</mat-icon>
            <span>Planned Date: {{meeting.plannedStartTime|toDate|date: 'medium'}}</span>
          </div>
          <div class="d-flex align-items-center pr-2">
            <mat-icon>av_timer</mat-icon>
            <span>Length: {{meeting.length / 1000 / 60 / 60}} hours</span>
          </div>
        </div>


      </div>
      <mat-divider class="mt-2"></mat-divider>
      <div class="mt-5 mb-4 pl-3">
        <pre>{{meeting.description}}</pre>
      </div>
      <mat-expansion-panel style="background: #ecfbde">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Confirmed attendee list ({{invitations['accepted'].length}})
          </mat-panel-title>
          <mat-panel-description>
            People who will attend this meeting
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="p-3">
          <ng-container *ngFor="let invitation of invitations['accepted']">
            <app-invitation-chip [invitation]="invitation"></app-invitation-chip>
          </ng-container>
        </div>
      </mat-expansion-panel>


      <mat-expansion-panel style="background: #fbf6d6">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Not confirmed yet attendee list ({{invitations['waiting'].length}})
          </mat-panel-title>
          <mat-panel-description>
            People who haven't responded yet
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="p-3">
          <mat-chip-list>
            <ng-container *ngFor="let invitation of invitations['waiting']">
              <app-invitation-chip [invitation]="invitation"></app-invitation-chip>
            </ng-container>
          </mat-chip-list>
        </div>
      </mat-expansion-panel>


      <mat-expansion-panel style="background: #fbe4e4">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Not attend list ({{invitations['declined'].length}})
          </mat-panel-title>
          <mat-panel-description>
            People who declined to attend
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="p-3">
          <ng-container *ngFor="let invitation of invitations['declined']">
            <app-invitation-chip [invitation]="invitation"></app-invitation-chip>
          </ng-container>
        </div>
      </mat-expansion-panel>

      <div class="mt-4">
        <app-shared-files-button [meeting]="meeting"></app-shared-files-button>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div>
        <button mat-flat-button class="mr-2" (click)="moreOperation(meeting)">
          <mat-icon>more_horiz</mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>

