<app-querying-content-hider [querying]="querying" queryingAction="Updating setting">
  <div class="p-sm-2 p-md-4" style="background: white">
    <table border="0" cellpadding="0" cellspacing="0" class="col-sm-12 col-lg-6 no-gutters setting-table"
           style="padding: 0">

      <tr>
        <th align="left" colspan="3">Calendar Marking</th>
      </tr>
      <tr class="type-row">
        <td>
          What calendar should new meeting mark at
        </td>
        <td align="right">
          <mat-form-field style="height: 35px; border: none;">
            <mat-select>
              <mat-option *ngFor="let calendar of possibleCalendars"
                          [value]="calendar.id">{{calendar.summary}}</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>

      <tr>
        <th align="left" colspan="1">
        <span>
        Time slot considering
        <mat-icon inline
                  matTooltip="What calendars you want the system to consider as busy, and how important are they">help_outline</mat-icon>
        </span>
        </th>
        <th align="right">
          <button mat-button>
            <mat-icon>
              add
            </mat-icon>
            Add calendar
          </button>
        </th>
      </tr>
      <tr class="type-row">
        <td>
          Working Calendar
        </td>
        <td align="right">
          <mat-form-field style="height: 35px; border: none; width: 125px">
            <mat-select>
              <mat-option value="1">Minor</mat-option>
              <mat-option value="2">Normal</mat-option>
              <mat-option value="3">Major</mat-option>
            </mat-select>
          </mat-form-field>
          <button class="ml-1" mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
      <tr class="type-row">
        <td>
          Travel Calendar
        </td>
        <td align="right">
          <mat-form-field style="height: 35px; border: none; width: 125px">
            <mat-select>
              <mat-option value="1">Minor</mat-option>
              <mat-option value="2">Normal</mat-option>
              <mat-option value="3">Major</mat-option>
            </mat-select>
          </mat-form-field>
          <button class="ml-1" mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
      <tr class="type-row">
        <td>
          Party Calendar
        </td>
        <td align="right">
          <mat-form-field style="height: 35px; border: none; width: 125px">
            <mat-select>
              <mat-option value="1">Minor</mat-option>
              <mat-option value="2">Normal</mat-option>
              <mat-option value="3">Major</mat-option>
            </mat-select>
          </mat-form-field>
          <button class="ml-1" mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>


    </table>
    <button (click)="saveSetting()" class="mt-2" color="primary" mat-raised-button>
      SAVE
    </button>
  </div>
</app-querying-content-hider>
