<app-querying-content-hider [querying]="querying" queryingAction="Updating setting">
  <div *ngIf="!connectedGoogle" class="py-5 d-flex align-items-center justify-content-center">
    Grant permission on google service setting page to enable calendar settings.
  </div>
  <div *ngIf="connectedGoogle" class="p-sm-2 p-md-4" style="background: white">
    <table border="0" cellpadding="0" cellspacing="0" class="col-md-12 col-lg-8 col-xl-6 no-gutters setting-table"
           style="padding: 0">

      <tr>
        <th align="left" colspan="3">Calendar Marking</th>
      </tr>
      <tr class="type-row">
        <td>
          What calendar should new meeting mark at
        </td>
        <td align="right">
          <mat-form-field style="height: 35px; border: none;">
            <mat-select [(ngModel)]="markEventOnCalendarId">
              <mat-option disabled value="">Select your calendar</mat-option>
              <mat-option *ngFor="let calendar of possibleCalendars"
                          [value]="calendar.id">{{calendar.summary}}</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>

      <tr>
        <th align="left" colspan="1">
        <span>
        Time slot considering
        <mat-icon inline
                  matTooltip="What calendars you want the system to consider as busy, and how important are they">help_outline</mat-icon>
        </span>
        </th>
        <th align="right">
          <button (click)="addCalendar()" mat-button>
            <mat-icon>
              add
            </mat-icon>
            Add calendar
          </button>
        </th>
      </tr>

      <tr *ngFor="let calendarImportance of calendarImportances" class="type-row">
        <td>
          {{getCalendarSummary(calendarImportance.calendarId)}}
        </td>
        <td align="right">
          <mat-form-field style="height: 35px; border: none; width: 125px">
            <mat-select [(ngModel)]="calendarImportance.importance">
              <mat-option disabled value="">Select the importance</mat-option>
              <mat-option [value]="1">Major</mat-option>
              <mat-option [value]="2">Normal</mat-option>
              <mat-option [value]="3">Minor</mat-option>
            </mat-select>
          </mat-form-field>
          <button (click)="deleteCalendar(calendarImportance)" class="ml-1" mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>

    </table>
    <button (click)="saveSetting()" class="mt-2" color="primary" mat-raised-button>
      SAVE
    </button>
  </div>
</app-querying-content-hider>
