<div style="background: white" class="p-sm-2 p-md-4">
  <table border="0" class="col-sm-12 col-lg-6 no-gutters setting-table" cellspacing="0" cellpadding="0"
         style="padding: 0">

    <tr>
      <th colspan="3" align="left">Calendar Marking</th>
    </tr>
    <tr class="type-row">
      <td>
        What calendar should new meeting mark at
      </td>
      <td align="right">
        <mat-form-field style="height: 35px; border: none; width: 125px">
          <mat-select>
            <mat-option value="2">Meeting Calendar</mat-option>
            <mat-option value="2">Working Calendar</mat-option>
            <mat-option value="2">Travel Calendar</mat-option>
            <mat-option value="2">Party Calendar</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <th colspan="1" align="left">
        <span>
        Time slot considering
        <mat-icon inline
                  matTooltip="What calendars you want the system to consider as busy, and how important are they">help_outline</mat-icon>
        </span>
      </th>
      <th align="right">
        <button mat-button>
          <mat-icon>
            add
          </mat-icon>
          Add calendar
        </button>
      </th>
    </tr>
    <tr class="type-row">
      <td>
        Working Calendar
      </td>
      <td align="right">
        <mat-form-field style="height: 35px; border: none; width: 125px">
          <mat-select>
            <mat-option value="1">Minor</mat-option>
            <mat-option value="2">Normal</mat-option>
            <mat-option value="3">Major</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-icon-button class="ml-1">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
    <tr class="type-row">
      <td>
        Travel Calendar
      </td>
      <td align="right">
        <mat-form-field style="height: 35px; border: none; width: 125px">
          <mat-select>
            <mat-option value="1">Minor</mat-option>
            <mat-option value="2">Normal</mat-option>
            <mat-option value="3">Major</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-icon-button class="ml-1">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
    <tr class="type-row">
      <td>
        Party Calendar
      </td>
      <td align="right">
        <mat-form-field style="height: 35px; border: none; width: 125px">
          <mat-select>
            <mat-option value="1">Minor</mat-option>
            <mat-option value="2">Normal</mat-option>
            <mat-option value="3">Major</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-icon-button class="ml-1">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>


  </table>
  <button (click)="saveSetting()" class="mt-2" color="primary" mat-raised-button>
    SAVE
  </button>
</div>
