<div class="h-100">
  <div class="d-flex h-100 w-100" *ngIf="querying">
    <div class="d-inline-block align-self-center mx-auto text-center">
      <div class="d-inline-block p-1"></div>

      <mat-spinner>
      </mat-spinner>
    </div>
  </div>

  <form [formGroup]="basicForm" (submit)="$event.preventDefault(); create()">
    <mat-card>
      <mat-card-title>
        Create Meeting Draft
      </mat-card-title>
      <mat-card-content>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Meeting Title</mat-label>
          <input matInput formControlName="title" placeholder="Title"/>
        </mat-form-field>
        <div class="d-flex">

          <mat-form-field class="col-12 col-md-4">
            <mat-label>
              <mat-icon>av_timer</mat-icon>
              Length
            </mat-label>
            <input matInput formControlName="length" type="number" step="0.5" placeholder="Length"/>
            <span matSuffix>Hours</span>
          </mat-form-field>

          <mat-form-field class="col-12 col-md-4">
            <mat-label>
              <mat-icon>priority_high</mat-icon>
              Priority
            </mat-label>
            <mat-select formControlName="priority" placeholder="Priority">
              <mat-option value="1">High</mat-option>
              <mat-option value="2">Medium</mat-option>
              <mat-option value="3">Low</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col-12 col-md-4">
            <mat-select formControlName="type" placeholder="Model Type">
              <mat-option value="speech">Speech</mat-option>
              <mat-option value="group_discussion">Group Discussion</mat-option>
              <mat-option value="presentation">Presentation</mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <mat-form-field class="w-100">
          <mat-label>
            <mat-icon>location_on</mat-icon>
            Location
          </mat-label>
          <input matInput formControlName="location" placeholder="Location"/>
        </mat-form-field>

        <mat-form-field class="w-100">
          <textarea matInput formControlName="description" placeholder="Description" rows="8"></textarea>
        </mat-form-field>

      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">CREATE</button>
        <a mat-button class="mr-2" routerLink="/member/meeting">CANCEL</a>
      </mat-card-actions>
    </mat-card>
  </form>
</div>

