<div class="h-100">

  <app-querying-content-hider [querying]="querying" queryingAction="Creating meeting">
    <form (submit)="$event.preventDefault(); create()" [formGroup]="basicForm">
      <mat-card>
        <mat-card-title>
          Create Meeting Draft
        </mat-card-title>
        <mat-card-content>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Meeting Title</mat-label>
            <input formControlName="title" matInput placeholder="Title"/>
          </mat-form-field>
          <div class="row">

            <mat-form-field class="col-12 col-md-6">
              <mat-label>
                <mat-icon>av_timer</mat-icon>
                Length
              </mat-label>
              <input formControlName="length" matInput placeholder="Length" step="0.5" type="number"/>
              <span matSuffix>Hours</span>
            </mat-form-field>

            <mat-form-field class="col-12 col-md-6">
              <mat-label>
                <mat-icon>priority_high</mat-icon>
                Priority
              </mat-label>
              <mat-select formControlName="priority" placeholder="Priority">
                <mat-option value="1">High</mat-option>
                <mat-option value="2">Medium</mat-option>
                <mat-option value="3">Low</mat-option>
              </mat-select>
            </mat-form-field>


          </div>

          <mat-form-field class="w-100">
            <mat-label>
              <mat-icon>location_on</mat-icon>
              Location
            </mat-label>
            <input formControlName="location" matInput placeholder="Location"/>
          </mat-form-field>

          <mat-form-field class="w-100">
            <textarea formControlName="description" matInput placeholder="Description" rows="8"></textarea>
          </mat-form-field>

        </mat-card-content>
        <mat-card-actions>
          <button color="primary" mat-raised-button type="submit">CREATE</button>
          <a class="mr-2" mat-button routerLink="/member/meeting">CANCEL</a>
        </mat-card-actions>
      </mat-card>
    </form>
  </app-querying-content-hider>

</div>

