@import "~bootstrap/dist/css/bootstrap.css";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*{
  box-sizing: border-box;
}


/*Global css*/
.cc-bg-secondary{
  background: #34373a;
}

.cc-color-secondary{
  color: #e5e5e5;
}
