<span class="popup-frame popup-frame-h-center popup-frame-half-trans mat-elevation-z4" style="bottom: 10px">
  <span class="mode-icon"><mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon></span>
  <span class="mode-icon mode-icon-actived"><mat-icon aria-label="Example icon-button with a heart icon">border_color</mat-icon></span>
  <span class="mode-icon"><mat-icon aria-label="Example icon-button with a heart icon">aspect_ratio</mat-icon></span>
  <span class="mode-icon"><mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon></span>
  <span class="mode-icon"><mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon></span>
</span>
