/*::ng-deep .tool-bar-button > div{*/
  /*display: flex;*/
  /*align-items: center;*/
/*}*/
/*::ng-deep .tool-bar-button{*/
  /*height: 80px;*/
  /*width: 80px;*/
/*}*/

::ng-deep .no-content-tab .mat-tab-body-wrapper{
  height: 0!important;
  transition: none!important;
}
