.image-container {
  display: flex;
  min-width: 250px;
  max-width: 350px;
  width: 100%;
  border: black dashed 2px;
  border-radius: 15px;
}

.image-container-new {
  justify-content: center;
}


.image-status {
  border-radius: 3px;
  padding: 5px 10px;
  margin-left: 20px;
  font-size: 16px;
  display: inline-block;
}
