[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
scikit-learn = "*"
numpy = "*"
dlib = "*"
face-recognition = "*"
aiofiles = "*"
scipy = "*"
requests = "*"
opencv-python = "*"

[dev-packages]
yapf = "*"
pylint = "*"
rope = "*"

[requires]
python_version = "3.7"
