<app-friend-list-fab></app-friend-list-fab>
<mat-card>
  <mat-card-title>Friends
  </mat-card-title>
  <app-querying-content-hider [querying]="querying" queryingAction="Loading friend list">
    <mat-accordion class="mt-2">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Waiting for approve
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-card-content>
          <mat-action-list class="h-100" style="overflow-y: auto; overflow-x: hidden">
            <button mat-list-item matRipple class="my-2 friend-item"
                    *ngFor="let friendRequest of receivedFriendRequests">
              <div class="d-flex justify-content-between align-items-center w-100">
                <div class="d-flex flex-row align-items-center">
                  <img class="friend-icon cc-avatar"
                       [src]="userService.getUserAvatarPath(friendRequest.user.username)"
                       alt="">
                  <span class="ml-3">{{friendRequest.user.displayName}} (@{{friendRequest.user.username}})</span>
                </div>
                <div>
                  <button mat-icon-button>
                    <mat-icon color="warn" (click)="responseFriendRequest(friendRequest,false)">close</mat-icon>
                  </button>
                  <button mat-icon-button>
                    <mat-icon color="primary" (click)="responseFriendRequest(friendRequest,true)">done</mat-icon>
                  </button>
                </div>
              </div>
            </button>
          </mat-action-list>
        </mat-card-content>

      </mat-expansion-panel>
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Your friends
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card-content>
          <mat-action-list class="h-100" style="overflow-y: auto; overflow-x: hidden">
            <div class="m-2">

              <button mat-list-item matRipple class="my-2 friend-item"
                      *ngFor="let friend of friends">
                <div class="d-flex justify-content-between align-items-center w-100" matRipple="">
                  <div class="d-flex flex-row align-items-center">
                    <img class="friend-icon cc-avatar"
                         [src]="userService.getUserAvatarPath(friend.user.username)"
                         alt="">
                    <span class="ml-3">{{friend.user.displayName}} (@{{friend.user.username}})</span>
                  </div>
                  <button mat-icon-button>
                    <mat-icon color="warn">delete</mat-icon>
                  </button>
                </div>
              </button>

            </div>
          </mat-action-list>
        </mat-card-content>
      </mat-expansion-panel>
    </mat-accordion>
  </app-querying-content-hider>

</mat-card>
