<app-friend-list-fab [refreshCallback]="update"></app-friend-list-fab>
<div class="mat-elevation-z4 p-3" style="background: white">
  <h2>Friends</h2>
  <app-querying-content-hider [querying]="querying" queryingAction="Loading friend list">
    <mat-accordion class="mt-2">

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Request sended by you ({{sendedFriendRequests.length}})
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-action-list class="h-100" style="overflow-y: auto; overflow-x: hidden">
          <div class="my-2 friend-item"
               *ngFor="let friendRequest of sendedFriendRequests">
            <div class="d-flex justify-content-between align-items-center w-100">
              <div class="d-flex flex-row align-items-center">
                <img class="friend-icon cc-avatar"
                     [src]="userService.getUserAvatarPath(friendRequest.user)"
                     alt="">
                <span class="ml-3">{{friendRequest.user.displayName}} (@{{friendRequest.user.username}})</span>
              </div>
              <div>
                <button mat-icon-button (click)="deleteSendedRequest(friendRequest)">
                  <mat-icon color="warn">delete</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </mat-action-list>
      </mat-expansion-panel>


      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Waiting for approve ({{receivedFriendRequests.length}})
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-action-list class="h-100" style="overflow-y: auto; overflow-x: hidden">
          <div class="my-2 friend-item"
               *ngFor="let friendRequest of receivedFriendRequests">
            <div class="d-flex justify-content-between align-items-center w-100">
              <div class="d-flex flex-row align-items-center">
                <img class="friend-icon cc-avatar"
                     [src]="userService.getUserAvatarPath(friendRequest.user)"
                     alt="">
                <span class="ml-3">{{friendRequest.user.displayName}} (@{{friendRequest.user.username}})</span>
              </div>
              <div>
                <button mat-icon-button (click)="responseFriendRequest(friendRequest,false)">
                  <mat-icon color="warn">close</mat-icon>
                </button>
                <button mat-icon-button (click)="responseFriendRequest(friendRequest,true)">
                  <mat-icon color="primary">done</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </mat-action-list>

      </mat-expansion-panel>
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Your friends ({{friends.length}})
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-action-list class="h-100" style="overflow-y: auto; overflow-x: hidden">
          <div class="m-2">

            <div class="my-2 friend-item"
                 *ngFor="let friend of friends">
              <div class="d-flex justify-content-between align-items-center w-100" matRipple="">
                <div class="d-flex flex-row align-items-center">
                  <img class="friend-icon cc-avatar"
                       [src]="userService.getUserAvatarPath(friend.user)"
                       alt="">
                  <span class="ml-3">{{friend.user.displayName}} (@{{friend.user.username}})</span>
                </div>
                <button mat-icon-button (click)="deleteFriend(friend.user)">
                  <mat-icon color="warn">delete</mat-icon>
                </button>
              </div>
            </div>

          </div>
        </mat-action-list>
      </mat-expansion-panel>
    </mat-accordion>
  </app-querying-content-hider>

</div>
