<div style="background: white" class="p-sm-2 p-md-4">
  <table border="0" class="col-sm-12 col-lg-6 no-gutters setting-table" cellspacing="0" cellpadding="0"
         style="padding: 0">

    <tr>
      <th colspan="3" align="left">Friend Request</th>
    </tr>
    <tr class="type-row">
      <td>
        Allow other to send you friend request
      </td>
      <td align="right">
        <mat-slide-toggle></mat-slide-toggle>
      </td>
    </tr>

  </table>
  <button mat-raised-button color="primary" class="mt-2">
    SAVE
  </button>
</div>

