<app-querying-content-hider [querying]="querying" queryingAction="Updating setting">
  <div class="p-sm-2 p-md-4" style="background: white">
    <table border="0" cellpadding="0" cellspacing="0" class="col-md-12 col-lg-8 col-xl-6 no-gutters setting-table"
           style="padding: 0">

      <tr>
        <th align="left" colspan="3">Friend Request</th>
      </tr>
      <tr class="type-row">
        <td>
          Allow other to send you friend request
        </td>
        <td align="right">
          <mat-slide-toggle [(ngModel)]="allowFriendRequest"></mat-slide-toggle>
        </td>
      </tr>

    </table>
    <button (click)="save()" class="mt-2" color="primary" mat-raised-button>
      SAVE
    </button>
  </div>

</app-querying-content-hider>
