.cc-avatar {
  border-radius: 50%;
  display: inline-block;
}

.cc-color-no {
  color: #ff6161;
}

.cc-color-yes {
  color: #009688;
}

.cc-mat-xl-icon {
  font-size: 96px;
  height: 96px !important;
  width: 96px !important;
}
