@import '~@angular/material/theming';

@include mat-core();

$cc-primary: mat-palette($mat-teal, 500);
$cc-accent: mat-palette($mat-amber, 500);
$cc-warn: mat-palette($mat-red, 700);

$cc-theme: mat-light-theme($cc-primary,$cc-accent, $cc-warn);
@include angular-material-theme($cc-theme);
