<div class="menu-row" style="left: 0;">
    <div
        style="position: relative;perspective: 300px; display: inline-block;padding-bottom: 10px;"
    >
        <div
            class="mat-elevation-z8"
            style="position: absolute;width: 100%;left: 0;height: 40px;background-color: rgba(200,200,200,0.8);
         bottom: 0;z-index: -5;transform: rotateX(35deg); border-radius: 5px"
        ></div>
        <span style="color: dimgrey">
            <span style="padding-left: 20px; padding-right: 20px">
                <span class="mode-icon"
                    ><mat-icon
                        aria-label="Example icon-button with a heart icon"
                        >favorite</mat-icon
                    ></span
                >
                <span class="mode-icon mode-icon-actived"
                    ><mat-icon
                        aria-label="Example icon-button with a heart icon"
                        >border_color</mat-icon
                    ></span
                >
                <span class="mode-icon"
                    ><mat-icon
                        aria-label="Example icon-button with a heart icon"
                        >aspect_ratio</mat-icon
                    ></span
                >
                <span class="mode-icon"
                    ><mat-icon
                        aria-label="Example icon-button with a heart icon"
                        >favorite</mat-icon
                    ></span
                >
                <span class="mode-icon"
                    ><mat-icon
                        aria-label="Example icon-button with a heart icon"
                        >favorite</mat-icon
                    ></span
                >
            </span>
        </span>
    </div>
</div>
